<a href="https://colab.research.google.com/github/kalyankargouri/machine-learning/blob/main/PreprocessingTechnique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
data={
    'Age':[25,10,45,None,23],
    'Salary':[30000,56000,None,45000,78000],
    'Department':['HR','IT','IT','HR','HR'],
    'Purchased':['No','Yes','No','Yes','Yes'],
    'Gender':['Male','Female','Male','Female','Male']
}

df=pd.DataFrame(data)
print("Before preprocessing dataset:\n",df)

Before preprocessing dataset:
     Age   Salary Department Purchased  Gender
0  25.0  30000.0         HR        No    Male
1  10.0  56000.0         IT       Yes  Female
2  45.0      NaN         IT        No    Male
3   NaN  45000.0         HR       Yes  Female
4  23.0  78000.0         HR       Yes    Male

In [3]:
imputer=SimpleImputer(strategy='mean')
df[['Age','Salary']]=imputer.fit_transform(df[['Age','Salary']])
print("After handling missing values:\n",df)

After handling missing values:
      Age   Salary Department Purchased  Gender
0  25.00  30000.0         HR        No    Male
1  10.00  56000.0         IT       Yes  Female
2  45.00  52250.0         IT        No    Male
3  25.75  45000.0         HR       Yes  Female
4  23.00  78000.0         HR       Yes    Male

In [4]:
label_encoder=LabelEncoder()
df['Department']=label_encoder.fit_transform(df['Department'])
df['Purchased']=label_encoder.fit_transform(df['Purchased'])
df['Gender']=label_encoder.fit_transform(df['Gender'])

In [5]:
scaler=StandardScaler()
df[['Age','Salary']]=scaler.fit_transform(df[['Age','Salary']])

In [ ]:
x=df.drop('Purchased',axis=1)
y=df['Purchased']

In [8]:
x=df.drop('Purchased',axis=1)
y=df['Purchased']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
print("\nPreprocessed Features (X_train):\n", X_train)
print("\nTarget (y_train):\n", y_train)

Preprocessed Features (X_train):
         Age    Salary  Department  Gender
4 -0.245624  1.645275           0       1
2  1.719367  0.000000           1       1
0 -0.066988 -1.421645           0       1
3  0.000000 -0.463233           0       0

Target (y_train):
 4    1
2    0
0    0
3    1
Name: Purchased, dtype: int64